<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tubes.mgolem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_mgolem"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoBarAppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityMahasiswa.DataPeminjamanVerifikasiActivity"></activity>
        <activity
            android:name=".ActivityMahasiswa.UbahPasswordActivity"
            android:label="Ubah Password"
            android:theme="@style/ActionBar" />
        <activity android:name=".ActivityMahasiswa.PengembalianBarangActivity" />
        <activity android:name=".ActivityMahasiswa.TambahBarangActivity" />
        <activity android:name=".ActivityMahasiswa.DataBarangActivity" />
        <activity android:name=".ActivityMahasiswa.ScanQRActivity" />
        <activity android:name=".ActivityMahasiswa.FormPinjamBarangActivity" />
        <activity android:name=".ActivityMahasiswa.PinjamBarangActivity" />
        <activity
            android:name=".ActivityTeknisi.DataPengembalianActivity"
            android:parentActivityName=".MenuTeknisiActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".MenuTeknisiActivity"
            android:theme="@style/MenuNoBar" />
        <activity
            android:name=".MenuMhsActivity"
            android:theme="@style/MenuNoBar" />
        <activity android:name=".PilihLogin" />
        <activity android:name=".LoginTeknisiActivity" />
        <activity android:name=".DaftarActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Slider"
            android:theme="@style/Theme.Intro" />
    </application>

</manifest>